# Gradle files
.build/
build/
.gradle/

# IntelliJ
.idea/
*.iml

# Eclipse
.bin/
.classpath
.project
.settings/

# VS Code
.vscode/

# Mac
.DS_Store

# Environment
.env
*.log

# Wallet files (for security)
*.wallet
wallets/
